/* SVG styling */
svg {
	width: 960px;
	height: 300px;
}
#chart3 svg, #chart4 svg, #chart5 svg {
	height: 360px;
}

path {
	stroke: #777;
	stroke-width: 0.1px;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 10px;
}

#chart3 .labels {
	fill: #555;
}

#chart4 .labels {
	fill: #555;
}

#chart5 .labels {
	fill: #555;
}